body {
  background-color: hsl(84, 100%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#searchbtn {
  padding: 7px;
  background-color: hsl(39, 100%, 70%);
  border-radius: 7px;
  border-width: 1px;
}
#search {
  padding: 7px;
  width: 200px;
  border-radius: 3px;
  border-width: 1px;
}
