#alter {
  display: none;
}
#alter-number {
  display: none;
}
@media (min-width: 480px) {
  body {
    background-color: #2d3748;
    height: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: rgb(255, 255, 255);
  }

  #info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #poke-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #titleName {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .alter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pokemon {
    background-color: white;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    padding: 10px;
    display: none;
  }
  #search-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchbtn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: hsla(0, 0%, 25%, 0.811);
    border-radius: 7px;
    border-width: 1px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
  }
  #searchbtn:hover {
    border-color: white;
  }
  #searchbtn:active {
    background-color: hsla(0, 0%, 25%, 0.9);
  }
  #search {
    padding: 10px;
    width: 250px;
    border-radius: 3px;
    border-width: 1px;
    font-size: medium;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-container {
    margin-right: 50px;
  }
  .right-container {
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  body {
    background-color: #2d3748;
    height: 100%;
    font-family: sans-serif;
    color: white;
  }
  .header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }

  #poke-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }

  .alter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #titleName {
    color: white;
  }

  #pokemon {
    background-color: white;
    border-radius: 10px;
    height: 190px;
    width: 200px;
    display: none;
  }

  #searchbtn {
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: hsla(0, 0%, 25%, 0.811);
    color: white;
    border-radius: 7px;
    border-width: 1px;
    cursor: pointer;
  }
  #search {
    padding: 9px;
    width: 200px;
    border-radius: 3px;
    border-width: 1px;
  }
}
